@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body, 
#__nuxt {
	width: 100%;
	min-height: 100%;
	height: 100%
}

html {
	@apply bg-neutral-50 text-cerulean-900
}

.underlined-link {
	@apply underline decoration-2 underline-offset-2 decoration-lime-400 transition-colors ease-out duration-150;	
}
.underlined-link:hover {
	@apply text-cerulean-500 decoration-transparent;
}